<ul class="slides panel" data-orbit>
  <li>
    <div>
      <h1>
        Your words. </br>
        Your friends. </br>
        Your slang.
      </h1>
      <span class="tagline">we.speak.your.language</span>
      <a class="button">Start your slang</a>
    </div>
  </li>
  {{#each}}
    <li>
      <h1 class="word">{{this.name}}</h1>
      <div class="description">{{this.description}}</div>
      <div class="origin">{{this.origin}}</div>
      <div class="etymology">{{this.etymology}}</div>
      <div class="slangs">[{{this.slang.name}}]</div>
      <a class="button">Start your slang</a>
    </li>
  {{/each}}
</ul>
