<!DOCTYPE html>
<html>
<head>
  <title>slang.uage.org | we speak your language</title>
  <%= javascript_include_tag "vendor" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<%= yield %>
<%= render "partials/js_templates" %>
</body>
</html>
