<!DOCTYPE html>
<html>
<head>
  <title>slang.uage.org | we speak your language</title>
  <%= javascript_include_tag "vendor" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <meta name="fb-app-id" content="<%= Slanguage::Application.config.fb_app_id %>">
  <meta name="channel-url" content="//<%= Slanguage::Application.config.hostname %>/channel.html">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div id="fb-root"></div>
<%= javascript_include_tag "application" %>
</body>
</html>
